 /* @font-face {
  font-family: "Monteserrat";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Monteserrat"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("woff2"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("woff"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf")
      format("truetype"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("svg");
}

@font-face {
  font-family: "Monteserrat";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Monteserrat"),
    url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("woff2"),
    url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("woff"),
    url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
      format("truetype"),
    url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("svg");
}

@font-face {
  font-family: "Monteserrat";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Monteserrat"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("woff2"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("woff"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("truetype"),
    url("assets/fonts/Montserrat/static/Montserrat-Helvetica.ttf") format("svg");
} */
@import url('https://fonts.cdnfonts.com/css/helvetica-255');
*{
  scroll-behavior: smooth;
  font-family: 'Helvetica', sans-serif;
  /* font-family: 'Helvetica Semi-Bold', sans-serif; */

}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
  
                
  @font-face {
  font-family: "Fuzzy Bubbles";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Fuzzy Bubbles"),
    url("assets/fonts/Fuzzy_Bubbles/FuzzyBubbles-Helvetica.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Fuzzy_Bubbles/FuzzyBubbles-Helvetica.ttf") format("woff2"),
    url("assets/fonts/Fuzzy_Bubbles/FuzzyBubbles-Helvetica.ttf") format("woff"),
    url("assets/fonts/Fuzzy_Bubbles/FuzzyBubbles-Helvetica.ttf") format("truetype"),
    url("assets/fonts/Fuzzy_Bubbles/FuzzyBubbles-Helvetica.ttf") format("svg");
  }   
  @font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Helvetica"),
    url("assets/fonts/Helvetica/Helvetica.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Helvetica/Helvetica.ttf") format("woff2"),
    url("assets/fonts/Helvetica/Helvetica.ttf") format("woff"),
    url("assets/fonts/Helvetica/Helvetica.ttf") format("truetype"),
    url("assets/fonts/Helvetica/Helvetica.ttf") format("svg");
  }   
  @font-face {
  font-family: "Helvetica";
  font-style:light;
  font-display: swap;
  font-weight: light;
  src: local("Helvetica"),
    url("assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf") format("woff2"),
    url("assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf") format("woff"),
    url("assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf") format("truetype"),
    url("assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf") format("svg");
  }   
  @font-face {
  font-family: "Helvetica";
  font-style:bold ;
  font-display: swap;
  font-weight: bold;
  src: local("Helvetica"),
    url("assets/fonts/Helvetica/Helvetica-Bold.ttf")
      format("embedded-opentype"),
    url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("woff2"),
    url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("woff"),
    url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("truetype"),
    url("assets/fonts/Helvetica/Helvetica-Bold.ttf") format("svg");
  }   
/* @font-face {
  font-family: 'HelveticaHelvetica Basis';
  font-style:normal;
  font-display: swap;
  font-weight:normal;
  src:local("HelveticaHelvetica"),
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.eot")
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.eot?#iefix") format('embedded-opentype'),
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format('woff2'),
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format('woff'),
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format('truetype'),
  url("../src/assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format('svg'),
  url("../src/assets/fonts/HelveticaHelvetica/ Basis\ Helvetica.otf")
  format("embedded-opentype"),
url("assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format("woff2"),
url("assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format("woff"),
url("assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format("truetype"),
url("assets/fonts/HelveticaHelvetica/HelveticaHelvetica\ Basis\ Helvetica.otf") format("svg");
}
@font-face {
  font-family: 'Helvetica Basis';
  font-style:Helvetica;
  font-display: swap;
  font-weight:Helvetica;
  src:local("HelveticaHelvetica"),
  url("../src/fonts/Far.ttf") format('embedded-opentype'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('woff2'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('woff'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('truetype'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('svg'),
} */
/* @font-face {
  font-family: 'HelveticaHelvetica Basis Helvetica';
  font-style:Helvetica;
  font-display: swap;
  font-weight:700;
  src:local("HelveticaHelvetica"),
  url("../src/fonts/HelveticaHelvetica.ttf") format('embedded-opentype'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('woff2'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('woff'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('truetype'),
  url("../src/fonts/HelveticaHelvetica.ttf") format('svg'),
} */
/* @font-face {
  font-family: 'HelveticaHelvetica Basis';
  font-style:normal;
  font-display: swap;
  font-weight:500;
  src:local("HelveticaHelvetica"),
  url("../src/fonts/HelveticaHelvetica.otf") format('embedded-opentype'),
  url("../src/fonts/HelveticaHelvetica.otf") format('woff2'),
  url("../src/fonts/HelveticaHelvetica.otf") format('woff'),
  url("../src/fonts/HelveticaHelvetica.otf") format('truetype'),
  url("../src/fonts/HelveticaHelvetica.otf") format('svg'),
} */

/* @font-face{
  font-family: "HelveticaHelvetica Basis Helvetica";
  src: url("ccdb598c7dd2100f5f7a8c1296c1dcfe.eot");
  src: url("ccdb598c7dd2100f5f7a8c1296c1dcfe.eot?#iefix")format("embedded-opentype"),
      url("ccdb598c7dd2100f5f7a8c1296c1dcfe.woff")format("woff"),
      url("ccdb598c7dd2100f5f7a8c1296c1dcfe.woff2")format("woff2"),
      url("ccdb598c7dd2100f5f7a8c1296c1dcfe.ttf")format("truetype"),
      url("ccdb598c7dd2100f5f7a8c1296c1dcfe.svg#HelveticaHelvetica Basis Helvetica")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face {
  font-family: 'HelveticaHelvetica';
  font-style:normal;
  font-display: swap;
  font-weight:normal;
  src:local("SFUIText"),
  url("../src/fonts/SFUIText-Helvetica.otf") format('embedded-opentype'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('woff2'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('woff'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('truetype'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('svg'),
}
@font-face {
  font-family: 'HelveticaHelvetica';
  font-style:Helvetica;
  font-display: Helvetica;
  font-weight:normal;
  src:local("SFUIText"),
  url("../src/fonts/SFUIText-Helvetica.otf")   format('embedded-opentype'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('woff2'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('woff'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('truetype'),
  url("../src/fonts/SFUIText-Helvetica.otf") format('svg'),
}
@font-face {
  font-family: 'NimbusSan';
  font-style:normal;
  font-display: swap;
  font-weight:700;
  src:local("NimbusSan"),
  url("../src/fonts/NimbusSan.ttf") format('embedded-opentype'),
  url("../src/fonts/NimbusSan.ttf") format('woff2'),
  url("../src/fonts/NimbusSan.ttf") format('woff'),
  url("../src/fonts/NimbusSan.ttf") format('truetype'),
  url("../src/fonts/NimbusSan.ttf") format('svg'),
}
@font-face {
  font-family: 'NimbusSan';
  font-style:normal;
  font-display: swap;
  font-weight:700;
  src:local("NimbusSan"),
  url("../src/fonts/NimbusSan.otf") format('embedded-opentype'),
  url("../src/fonts/NimbusSan.otf") format('woff2'),
  url("../src/fonts/NimbusSan.otf") format('woff'),
  url("../src/fonts/NimbusSan.otf") format('truetype'),
  url("../src/fonts/NimbusSan.otf") format('svg'),
}
@font-face {
  font-family: 'NimbusSan';
  font-style:Helvetica;
  font-display: swap;
  font-weight:Helvetica;
  src:local("NimbusSan"),
  url("../src/fonts/NimbusSan.ttf") format('embedded-opentype'),
  url("../src/fonts/NimbusSan.ttf") format('woff2'),
  url("../src/fonts/NimbusSan.ttf") format('woff'),
  url("../src/fonts/NimbusSan.ttf") format('truetype'),
  url("../src/fonts/NimbusSan.ttf") format('svg'),
} */
/* @font-face {
  font-family: 'NimbusSan';
  font-style:Helvetica;
  font-display: swap;
  font-weight:Helvetica;
  src:local("NimbusSan"),
  url("../src/fonts/NimbusSan.otf") format('embedded-opentype'),
  url("../src/fonts/NimbusSan.otf") format('woff2'),
  url("../src/fonts/NimbusSan.otf") format('woff'),
  url("../src/fonts/NimbusSan.otf") format('truetype'),
  url("../src/fonts/NimbusSan.otf") format('svg'),
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.bg-image {
  background-image: url("./assets/images/dolceNew.svg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bg-first-card-image {
  background-image: url("./assets/images/GenieClubluxe.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bg-second-card-image {
  background-image: url("./assets/images/casablanca.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bg-third-card-image {
  background-image: url("./assets/images/9pm2.jpeg");
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bg-fourth-card-image {
  background-image: url("./assets/images/armaf2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bg-fifth-card-image {
  background-image: url("./assets/images/club.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 374px) {
  .bg-image {
    display: hidden;
  }
}


@media screen and (max-width:357px) {
  
.bg-image {
  /* background-image: url("./assets/images/dolceonly.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: bottom; */
  /* width: 30%; */
  display:hidden;
}
}

.bg-sales {
  background-image: url("./assets/images/salesbg.png");
  background-repeat: repeat-x;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

